:root {
  --main-color: #023670;
  --hovered-main-color: #012c5c;
  --button-color: #1b8aa5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
